* {
    margin: auto;
}

/* body {
    background-image: url("exam.jpg");
    background-repeat: no-repeat;
    background-size: 100% 105%;

} */

body {
    background: url(exam.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sms_header {
    margin: auto;
    position: relative;
    background-color: #0073aa;
    color: #ffffff;
    text-align: center;
    height: 60px;
    font-family: serif;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 1%;
}

.login_form {
    border: 5px solid #0073aa;
    border-radius: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.outer_container {
    margin-right: 18%;
    padding: 5px;
    width: 40%;
}

/* input {
    position: relative;
    margin: 12px;
    margin-left: 20px;
    padding-left: 25px;
    padding-right: 25px;
    outline: none;
    border: 2px solid #0073aa;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    font-family: serif;
    font-weight: bold;
    font-size: 15px;
} */

/* select{
    margin:12px;
    margin-left: 20px;
    padding-left:25px;
    padding-right:25px;
    outline:none;
    border:2px solid #0073aa;
    border-radius:10px;
    height: 38px;
    width: 81%;
    font-family: serif;
    font-weight: bold;
    font-size: 15px;
} */
input[type="submit"] {
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    background-color: #0073aa;
    letter-spacing: 1px;
}

.login_caption {
    margin-top: 2%;
    margin-left: 58%;
    margin-bottom: 1px;
    position: relative;
    color: #0073aa;
    letter-spacing: 3px;
    font-size: 40px;
    font-family: serif;
    font-weight: bold;
}

#login_logo {
    position: relative;
    padding: 5px;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 1%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #sms_header {
        margin: auto;
        position: relative;
        background-color: #0073aa;
        color: #ffffff;
        text-align: center;
        height: 30px;
        font-family: serif;
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 1%;
    }

    body {
        background: url(exam.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .login_caption {
        margin-top: 2%;
        margin-left: 55%;
        margin-bottom: 1px;
        position: relative;
        color: #0073aa;
        letter-spacing: 3px;
        font-size: 40px;
        font-family: serif;
        font-weight: bold;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    #sms_header {
        margin: auto;
        position: relative;
        background-color: #0073aa;
        color: #ffffff;
        text-align: center;
        height: 25px;
        font-family: serif;
        font-weight: bold;
        font-size: 23px;
        text-transform: uppercase;
        margin-bottom: 1%;
    }

    .login_caption {
        margin-top: 2%;
        margin-left: 52%;
        margin-bottom: 1px;
        position: relative;
        color: #0073aa;
        letter-spacing: 3px;
        font-size: 40px;
        font-family: serif;
        font-weight: bold;
    }
}